<!DOCTYPE html>
<html>
    <head>
        <title>CustomerAccounts</title>
        <link rel="stylesheet", href="./style.css">
        <script src="./index.js" charset="utf-8" defer></script>
    </head>
    <body>
        <h1>Customer Accounts</h1>
        <div class="nav">
            <a href="./index">Home</a>
            <a class="active" href="./customerAccounts">Customer Accounts</a>
            <a href="./customerSales">Customer Sales</a>
            <a href="./employees">Employees</a>
            <a href="./gameSystems">Game Systems</a>
            <a href="./lounges">Lounges</a>
            <a href="./Lounges_Employees">Lounges_Employees</a>
            <a href="./consoles">Consoles</a>
        </div>

        {{!-- Read Table --}}
        <table>
            <tr>
                <th>Email</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Date of Birth</th>
            </tr>
            {{#each tableData}}
            <tr>
                <td>{{"Email"}}</td>
                <td>{{"First Name"}}</td>
                <td>{{"Last Name"}}</td>
                <td>{{"Date of Birth"}}</td>
            </tr>
            {{/each}}
        </table>

        {{!-- Create --}}
        <div>Add customer account</div>
        <form action="/customerAccounts/create" method="POST">
            <label for="email">Email</label>
            <input name="email">

            <label for="first-name">First Name</label>
            <input name="first-name">

            <label for="last-name">Last Name</label>
            <input name="last-name">

            <label for="date-of-birth">Date of Birth</label>
            <input name="date-of-birth" placeholder="YYYY-MM-DD">

            <button type="submit">Add</button>
            <button type="reset">Cancel</button>
        </form>
        
        {{!-- Update --}}
        <div>Update customer account</div>
        <form action="/customerAccounts/update" method="POST">
            <label for="email">Email</label>
            <select name="email" id="select-email">
                <option value="">Select Email</option>
                {{#each tableData}}
                <option value="{{Email}}">{{"Email"}}</option>
                {{/each}}
            </select>

            <label for="first-name">First Name</label>
            <input name="first-name">

            <label for="last-name">Last Name</label>
            <input name="last-name">

            <label for="date-of-birth">Date of Birth</label>
            <input name="date-of-birth" placeholder="YYYY-MM-DD">

            <button type="submit">Update</button>
            <button type="reset">Cancel</button>
        </form>

        {{!-- Delete --}}
        <div>Delete customer account</div>
        <form action="/customerAccounts/delete" method="POST">
            <label for="email">Please select the email of the account you wish to delete: </label>
            <select name="email" id="select-email">
                <option value="">Select Email</option>
                {{#each tableData}}
                <option value="{{Email}}">{{"Email"}}</option>
                {{/each}}
            </select>
            <button type="submit">Delete</button>
            <button type="reset">Cancel</button>
        </form>
    </body>
</html>