<!DOCTYPE html>
<html>
    <head>
        <title>CustomerSales</title>
        <link rel="stylesheet", href="./style.css">
        <script src="./index.js" charset="utf-8" defer></script>
    </head>
    <body>
        <h1>Customer Sales</h1>
       <div class="nav">
            <a href="./index">Home</a>
            <a href="./customerAccounts">Customer Accounts</a>
            <a class="active" href="./customerSales">Customer Sales</a>
            <a href="./employees">Employees</a>
            <a href="./gameSystems">Game Systems</a>
            <a href="./lounges">Lounges</a>
            <a href="./Lounges_Employees">Lounges_Employees</a>
            <a href="./consoles">Consoles</a>
        </div>

        {{!-- Read Table --}}
        <table>
            <tr>
                <th>Sale Order #</th>
                <th>Game System #</th>
                <th>Customer Email</th>
                <th>Checked In</th>
                <th>Checked Out</th>
            </tr>
            {{#each tableData}}
            <tr>
                <td>{{"Sale Order #"}}</td>
                <td>{{"Game System #"}}</td>
                <td>{{"Customer Email"}}</td>
                <td>{{"Checked In"}}</td>
                <td>{{"Checked Out"}}</td>
            </tr>
            {{/each}}
        </table>

        {{!-- Create --}}
        <div>Add customer sale</div>
        <form action="/customerSales/create" method="POST">
            <label for="systemID">Game System</label>
            <select name="systemID" id="select-systemID">
                <option value ="">Select ID #</option>
                {{#each tableData2}}
                <option value="{{"Game System #"}}">{{"Game System #"}}</option>
                {{/each}}
            </select>

            <label for="email">Customer Email</label>
            <select name="email" id="select-email">
                <option value="">Select Email</option>
                {{#each tableData3}}
                <option value="{{"Customer Email"}}">{{"Customer Email"}}</option>
                {{/each}}
            </select>

            <label for="timein">Checked In</label>
            <input name="timein" placeholder="YYYY-MM-DD HH:MI">

            <label for="timeout">Checked Out</label>
            <input name="timeout" placeholder="YYYY-MM-DD HH:MI">

            <button type="submit">Add</button>
            <button type="reset">Cancel</button>
        </form>
        
        {{!-- Update --}}
        <div>Update customer sale</div>
        <form action="/customerSales/update" method="POST">
            <label for="saleID">Sale Order</label>
            <select name="saleID" id="select-saleID">
                <option value ="">Select ID #</option>
                {{#each tableData}}
                <option value="{{"Sale Order #"}}">{{"Sale Order #"}}</option>
                {{/each}}
            </select>

            <label for="systemID">Game System</label>
            <select name="systemID" id="select-systemID">
                <option value ="">Select ID #</option>
                {{#each tableData2}}
                <option value="{{"Game System #"}}">{{"Game System #"}}</option>
                {{/each}}
            </select>

            <label for="email">Customer Email</label>
            <select name="email" id="select-email">
                <option value="">Select Email</option>
                {{#each tableData3}}
                <option value="{{"Customer Email"}}">{{"Customer Email"}}</option>
                {{/each}}
            </select>

            <label for="timein">Checked In</label>
            <input name="timein" placeholder="YYYY-MM-DD HH:MI">

            <label for="timeout">Checked Out</label>
            <input name="timeout" placeholder="YYYY-MM-DD HH:MI">

            <button type="submit">Update</button>
            <button type="reset">Cancel</button>
        </form>

        {{!-- Delete --}}
        <div>Delete customer sale</div>
        <form action="/customerSales/delete" method="POST">
            <label for="saleID">Please select the ID # of the sale you wish to delete:</label>
            <select name="saleID" id="select-saleID">
                <option value ="">Select ID #</option>
                {{#each tableData}}
                <option value="{{"Sale Order #"}}">{{"Sale Order #"}}</option>
                {{/each}}
            </select>
            <button type="submit">Delete</button>
            <button type="reset">Cancel</button>
        </form>
    </body>
</html>