<!DOCTYPE html>
<html>
    <head>
        <title>CustomerSales</title>
        <link rel="stylesheet", href="./style.css">
        <script src="./index.js" charset="utf-8" defer></script>
    </head>
    <body>
        <h1>Customer Sales</h1>
        <a href="./index">Go Back</a>

        <div></div>
        <button>New</button>
        <table>
            <tr>
                <th>saleID</th>
                <th>systemID</th>
                <th>customerEmail</th>
                <th>timeIn</th>
                <th>timeOut</th>
            </tr>
            {{#each tableData}}
            <tr>
                <td>{{"Sale Order #"}}</td>
                <td>{{"Game System #"}}</td>
                <td>{{"Customer Email"}}</td>
                <td>{{"Checked In"}}</td>
                <td>{{"Checked Out"}}</td>
            </tr>
            {{/each}}
        </table>

        <div>Add customer sale</div>
        <form action="/customerSales/create" method="POST">
            <label for="systemID">systemID</label>
            <select name="systemID"></select>

            <label for="email">customer email</label>
            <select name="email"></select>

            <label for="timein">timein</label>
            <input name="timein">

            <label for="timeout">timeout</label>
            <input name="timeout">

            <button type="submit">Add</button>
            <button type="reset">Cancel</button>
        </form>
        

        <div>Update customer sale</div>
        <form action="/customerSales/update" method="POST">
            <label for="saleID">saleID</label>
            <select name="saleID"></select>

            <label for="systemID">systemID</label>
            <select name="systemID"></select>

            <label for="email">customer email</label>
            <select name="email"></select>

            <label for="timein">timein</label>
            <input name="timein">

            <label for="timeout">timeout</label>
            <input name="timeout">

            <button type="submit">Update</button>
            <button type="reset">Cancel</button>
        </form>

        <div>Delete customer sale</div>
        <form action="/customerSales/delete" method="POST">
            <div>Warning: You are about to delete a sale with the saleID: 1</div>
            <button type="submit">Delete</button>
            <button type="reset">Cancel</button>
        </form>
    </body>
</html>