<!DOCTYPE html>
<html>
    <head>
        <title>Employees</title>
        <link rel="stylesheet", href="./style.css">
        <script src="./index.js" charset="utf-8" defer></script>
    </head>
    <body>
        <h1>Employees</h1>
        <div class="nav">
            <a href="./index">Index</a>
            <a href="./customerAccounts">Customer Accounts</a>
            <a href="./customerSales">Customer Sales</a>
            <a class="active" href="./employees">Employees</a>
            <a href="./gameSystems">Game Systems</a>
            <a href="./lounges">Lounges</a>
            <a href="./Lounges_Employees">Lounges_Employees</a>
            <a href="./consoles">Consoles</a>
        </div>

        <div></div>
        <button>New</button>
        <table>
            <tr>
                <th>Employee ID #</th>
                <th>Clocked In</th>
                <th>Position</th>
                <th>Wage($/hr)</th>
            </tr>
            {{#each tableData}}
            <tr>
                <td>{{"Employee #"}}</td>
                <td>{{"Clocked In"}}</td>
                <td>{{"Title"}}</td>
                <td>{{"Wage ($/hr)"}}</td>
            </tr>
            {{/each}}
        </table>

        <div>Add employee</div>
        <form action="/employees/create" method="POST">
            <label for="statusin">Clocked In</label>
            <select name="statusin" id="select-statusin">
                <option value="Yes">Yes</option>
                <option value="No">No</option>
            </select>

            <label for="position">Position</label>
            <input name="position">

            <label for="hourlywage">Wage($/hr)</label>
            <input name="hourlywage">

            <button type="submit">Add</button>
            <button type="reset">Cancel</button>
        </form>
        

        <div>Update employee</div>
        <form action="/employees/update" method="POST">
            <label for="employeeID">Employee ID</label>
            <select name="employeeID" id="select-employeeID">
                <option value ="">Select ID #</option>
                {{#each tableData}}
                <option value="{{"Employee #"}}">{{"Employee #"}}</option>
                {{/each}}
            </select>

            <label for="statusin">Clocked In</label>
            <select name="statusin" id="select-statusin">
                <option value="Yes">Yes</option>
                <option value="No">No</option>
            </select>


            <label for="position">Position</label>
            <input name="position">

            <label for="hourlywage">Wage($/hr)</label>
            <input name="hourlywage">

            <button type="submit">Update</button>
            <button type="reset">Cancel</button>
        </form>

        <div>Delete employee</div>
        <form action="/employees/delete" method="POST">
            <label for="employeeID">Please select the employee ID of the employee you wish to delete: </label>
            <select name="employeeID" id="select-employeeID">
                <option value ="">Select ID #</option>
                {{#each tableData}}
                <option value="{{"Employee #"}}">{{"Employee #"}}</option>
                {{/each}}
            </select>
            <button type="submit">Delete</button>
            <button type="reset">Cancel</button>
        </form>
    </body>
</html>