<!DOCTYPE html>
<html>
    <head>
        <title>GameSystems</title>
        <link rel="stylesheet", href="./style.css">
        <script src="./index.js" charset="utf-8" defer></script>
    </head>
    <body>
        <h1>Game Systems</h1>
        <div class="nav">
            <a href="./index">Index</a>
            <a href="./customerAccounts">Customer Accounts</a>
            <a href="./customerSales">Customer Sales</a>
            <a href="./employees">Employees</a>
            <a class="active" href="./gameSystems">Game Systems</a>
            <a href="./lounges">Lounges</a>
            <a href="./Lounges_Employees">Lounges_Employees</a>
            <a href="./consoles">Consoles</a>
        </div>


        <div></div>
        <button>New</button>
        <table>
            <tr>
                <th>Game System #</th>
                <th>Lounge #</th>
                <th>Rented?</th>
                <th>Game Console Type</th>
            </tr>
            {{#each tableData}}
            <tr>
                <td>{{"Game System #"}}</td>
                <td>{{"Lounge #"}}</td>
                <td>{{"Rented?"}}</td>
                <td>{{"Game Console Type"}}</td>
            </tr>
            {{/each}}
        </table>

        <div>Add game system</div>
        <form action="/gameSystems/create" method="POST">
            <label for="loungeID">Lounge</label>
            <select name="loungeID" id="select-loungeID">
                <option value ="">Select ID #</option>
                {{#each tableData3}}
                <option value="{{"Lounge #"}}">{{"Lounge #"}}</option>
                {{/each}}
            </select>

            <label for="inUse">Rented?</label>
            <input name="inUse">

            <label for="systemType">Game Console Type</label>
            <select name="systemType" id="select-systemType">
                <option value ="">Select Type</option>
                {{#each tableData2}}
                <option value="{{"Game Console Type"}}">{{"Game Console Type"}}</option>
                {{/each}}
            </select>

            <button type="submit">Add</button>
            <button type="reset">Cancel</button>
        </form>
        

        <div>Update game system</div>
        <form action="/gameSystems/update" method="POST">
            <label for="systemID">Game System</label>
            <select name="systemID" id="select-systemID">
                <option value ="">Select ID #</option>
                {{#each tableData}}
                <option value="{{"Game System #"}}">{{"Game System #"}}</option>
                {{/each}}
            </select>

            <label for="loungeID">Lounge</label>
            <select name="loungeID" id="select-loungeID">
                <option value ="">Select ID #</option>
                {{#each tableData3}}
                <option value="{{"Lounge #"}}">{{"Lounge #"}}</option>
                {{/each}}
            </select>

            <label for="inUse">Rented?</label>
            <input name="inUse">

            <label for="systemType">Game Console Type</label>
            <select name="systemType" id="select-systemType">
                <option value ="">Select Type</option>
                {{#each tableData2}}
                <option value="{{"Game Console Type"}}">{{"Game Console Type"}}</option>
                {{/each}}
            </select>

            <button type="submit">Update</button>
            <button type="reset">Cancel</button>
        </form>

        <div>Delete game system</div>
        <form action="/gameSystems/delete" method="POST">
            <label for="systemID">Please select the Game System ID of the game system you wish to delete: </label>
            <select name="systemID" id="select-systemID">
                <option value ="">Select ID #</option>
                {{#each tableData}}
                <option value="{{"Game System #"}}">{{"Game System #"}}</option>
                {{/each}}
            </select>
            <button type="submit">Delete</button>
            <button type="reset">Cancel</button>
        </form>
    </body>
</html>