<!DOCTYPE html>
<html>
    <head>
        <title>Lounges_Employees</title>
        <link rel="stylesheet", href="./style.css">
        <script src="./index.js" charset="utf-8" defer></script>
    </head>
    <body>
        <h1>Lounges_Employees</h1>
        <li>
            <a href="./index">Index</a>
            <a href="./customerAccounts">Customer Accounts</a>
            <a href="./customerSales">Customer Sales</a>
            <a href="./employees">Employees</a>
            <a href="./gameSystems">Game Systems</a>
            <a href="./lounges">Lounges</a>
            <a href="./Lounges_Employees">Lounges_Employees</a>
            <a href="./consoles">Consoles</a>
        </li>


        <div></div>
        <button>New</button>
        <table>
            <tr>
                <th>Rental Invoice #</th>
                <th>Lounge #</th>
                <th>Employee #</th>
                <th>Date</th>
            </tr>
            {{#each tableData}}
            <tr>
                <td>{{"Rental Invoice #"}}</td>
                <td>{{"Lounge #"}}</td>
                <td>{{"Employee #"}}</td>
                <td>{{"Date"}}</td>
            </tr>
            {{/each}}
        </table>

        <div>Add lounge_employee</div>
        <form action="/Lounges_Employees/create" method="POST">
            <label for="loungeID">Lounge</label>
            <select name="loungeID" id="select-loungeID">
                <option value ="">Select ID #</option>
                {{#each tableData}}
                <option value="{{"Lounge #"}}">{{"Lounge #"}}</option>
                {{/each}}
            </select>

            <label for="employeeID">Employee</label>
            <select name="employeeID" id="select-employeeID">
                <option value ="">Select ID #</option>
                {{#each tableData}}
                <option value="{{"Employee #"}}">{{"Employee #"}}</option>
                {{/each}}
            </select>

            <label for="dateInfo">Date (YYYY-MM-DD)</label>
            <input name="dateInfo">

            <button type="submit">Add</button>
            <button type="reset">Cancel</button>
        </form>
        

        <div>Update lounge_employee</div>
        <form action="/Lounges_Employees/update" method="POST">
            <label for="rentalInvoiceID">Rental Invoice ID</label>
           <select name="rentalInvoiceID" id="select-rentalInvoiceID">
                <option value ="">Select ID #</option>
                {{#each tableData}}
                <option value="{{"Rental Invoice #"}}">{{"Rental Invoice #"}}</option>
                {{/each}}
            </select>

            <label for="loungeID">Lounge</label>
            <select name="loungeID" id="select-loungeID">
                <option value ="">Select ID #</option>
                {{#each tableData}}
                <option value="{{"Lounge #"}}">{{"Lounge #"}}</option>
                {{/each}}
            </select>

            <label for="employeeID">Employee</label>
            <select name="employeeID" id="select-employeeID">
                <option value ="">Select ID #</option>
                {{#each tableData}}
                <option value="{{"Employee #"}}">{{"Employee #"}}</option>
                {{/each}}
            </select>

            <label for="dateInfo">Date (YYYY-MM-DD)</label>
            <input name="dateInfo">

            <button type="submit">Update</button>
            <button type="reset">Cancel</button>
        </form>

        <div>Delete lounge_employee</div>
        <form action="/Lounges_Employees/delete" method="POST">
            <label for="rentalInvoiceID">Please select the rental invoice ID of the invoice you would like to delete: </label>
            <select name="rentalInvoiceID" id="select-rentalInvoiceID">
                <option value ="">Select ID #</option>
                {{#each tableData}}
                <option value="{{"Rental Invoice #"}}">{{"Rental Invoice #"}}</option>
                {{/each}}
            </select>
            <button type="submit">Delete</button>
            <button type="reset">Cancel</button>
        </form>
    </body>
</html>