<!DOCTYPE html>
<html>
    <head>
        <title>Lounges</title>
        <link rel="stylesheet", href="./style.css">
        <script src="./index.js" charset="utf-8" defer></script>
    </head>
    <body>
        <h1>Lounges</h1>
        <a href="./index">Go Back</a>

        <div></div>
        <button>New</button>
        <table>
            <tr>
                <th>Lounge #</th>
                <th>Max Capacity</th>
                <th>Active Players</th>
            </tr>
            {{#each tableData}}
            <tr>
                <td>{{"Lounge #"}}</td>
                <td>{{"Max Capacity"}}</td>
                <td>{{"Active Players"}}</td>
            </tr>
            {{/each}}
        </table>

        <div>Add lounge</div>
        <form action="/lounges/create" method="POST">
            <label for="loungeLimit">Max Capacity</label>
            <input name="loungeLimit">

            <label for="activeConsoles">Active Players</label>
            <input name="activeConsoles">

            <button type="submit">Add</button>
            <button type="reset">Cancel</button>
        </form>
        

        <div>Update lounge</div>
        <form action="/lounges/update" method="POST">
            <label for="loungeID">Lounge</label>
            <select name="loungeID" id="select-loungeID">
                <option value ="">Select ID #</option>
                {{#each tableData}}
                <option value="{{"Lounge #"}}">{{"Lounge #"}}</option>
                {{/each}}
            </select>

            <label for="loungeLimit">Max Capacity</label>
            <input name="loungeLimit">

            <label for="activeConsoles">Active Players</label>
            <input name="activeConsoles">
            
            <button type="submit">Update</button>
            <button type="reset">Cancel</button>
        </form>

        <div>Delete lounge</div>
        <form action="/Lounges/delete" method="POST">
            <label for="loungeID">Please select the loungeID of the lounge you would like to delete: </label>
            <select name="loungeID" id="select-loungeID">
                <option value ="">Select ID #</option>
                {{#each tableData}}
                <option value="{{"Lounge #"}}">{{"Lounge #"}}</option>
                {{/each}}
            </select>
            <button type="submit">Delete</button>
            <button type="reset">Cancel</button>
        </form>
    </body>
</html>